@import url('../assets/fonts/ggsans/stylesheet.css');

:root {
  --background: #f4f8ff;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    color: #111827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    display: flex;
}
