:root {
    /*--bg-main: #081826;*/
    --grid-small: rgba(0, 170, 255, 0.08);
    --grid-large: rgba(0, 170, 255, 0.15);
}

.root {
    padding: 128px 64px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-around;
    /*background-color: var(--bg-main);*/

    background-image:
        /* мелкая сетка */
            linear-gradient(var(--grid-small) 1px, transparent 1px),
            linear-gradient(90deg, var(--grid-small) 1px, transparent 1px),

                /* крупная сетка */
            linear-gradient(var(--grid-large) 1px, transparent 1px),
            linear-gradient(90deg, var(--grid-large) 1px, transparent 1px);

    background-size:
            20px 20px,
            20px 20px,
            100px 100px,
            100px 100px;

    background-position: center;
}
.superset-ng0j11 > :not(:last-child):not(.hover-menu) {
    margin-right: 50px!important;
}
