.chat {
  height: calc(100vh - 200px);
  overflow-y: auto;
  width: 450px;
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    text-align: center;
    margin: 16px 0;
  }
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
}
