.chatPost {
  padding: 16px;



  .text {
    width: 250px;
    padding: 8px;
    background: grey;
    border-radius: 8px;
    color: white;
    &.myPost {
      align-self: flex-end;
      background: blue;
    }
  }
  .answer {
    align-self: flex-end;
  }
}

