version: '3.8'

services:
  postgres:
    build: .
    container_name: postgres-loop
    ports:
      - "5435:5432"  # Внешний порт 5435 -> внутренний порт 5432
    environment:
      - POSTGRES_DB=loop
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: