.mainFrame {
  height: 100%;
  display: flex;

  .description {
    flex: 1;

    .projectInfo {
      height: 500px;
    }
  }

  .legend {
    width: 100%;
    margin-top: 24px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
}

.timeline {
  margin-top: 0;

  .timelineLeft {
    color: #0b0bef;
  }

  .timelineRight {
    color: #f11c24;
  }
}
.box{
&:first-child {
  overflow-y: hidden;
  min-height: 0;
  flex: 1 1 auto;

}
&:last-child {
  max-height: 400px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
}
}



