.mainFrame {
  height: 100%;
  display: flex;
  .description {
    flex: 1;
  }
  .legend {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
}

.timeline {
    margin-top: 0;
  .timelineLeft {
    color: #0b0bef;
  }
  .timelineRight {
    color: #f11c24;
  }
  }
.title {
  width: 250px;
  box-sizing: border-box;
}


