.chatPost {
  padding: 16px;



  .text {
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    &.myPost {
      align-self: flex-end;

    }
  }
  .answer {
    align-self: flex-end;
  }
}

